<nav data-type="toc">
  <ol>
    <li data-type="part">
      <a href="titlepage01.html">简介</a>
      <ol>
        <li data-type="copyright-page">
          <a href="copyright-page01.html">版权许可</a>
        </li>
        <li data-type="preface">
          <a href="preface01.html">绪言</a>
        </li>
        <li data-type="foreword">
          <a href="foreword01.html">序</a>
        </li>
        <li data-type="introduction">
          <a href="introduction01.html">怎样使用本书</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part01.html">数据基础</a>
      <ol>
        <li data-type="chapter">
          <a href="ch01.html">基本数据类型</a>
        </li>
        <li data-type="chapter">
          <a href="ch02.html">关于数据聚合/统计</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part02.html">数据采集</a>
      <ol>
        <li data-type="chapter">
          <a href="ch03.html">调查数据简介</a>
        </li>

        <li data-type="chapter">
          <a href="ch04.html">调查问题类型</a>
        </li>

        <li data-type="chapter">
          <a href="ch05.html">其他的数据采集方法</a>
        </li>

        <li data-type="chapter">
          <a href="ch06.html">发现外部数据</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part03.html">让数据就绪</a>
      <ol>
        <li data-type="chapter">
          <a href="ch07.html">数据准备</a>
        </li>

        <li data-type="chapter">
          <a href="ch08.html">数据清理</a>
        </li>

        <li data-type="chapter">
          <a href="ch09.html">数据校对种类</a>
        </li>

        <li data-type="chapter">
          <a href="ch10.html">数据清理的能和不能</a>
        </li>

        <li data-type="chapter">
          <a href="ch11.html">数据转换</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part04.html">数据可视化</a>
      <ol>
        <li data-type="chapter">
          <a href="ch12.html">决定哪些以及多少数据用于呈现</a>
        </li>

        <li data-type="chapter">
          <a href="ch13.html">图形化调查响应结果</a>
        </li>

        <li data-type="chapter">
          <a href="ch14.html">解析信息图</a>
        </li>

        <li data-type="chapter">
          <a href="ch15.html">色彩、字体、图标的重要性</a>
        </li>

        <li data-type="chapter">
          <a href="ch16.html">打印 Vs. 网页，静态 Vs. 交互</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part05.html">不要做什么</a>
      <ol>
        <li data-type="chapter">
          <a href="ch17.html">知觉欺骗</a>
        </li>

        <li data-type="chapter"><a href="ch18.html">常见可视化错误</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="#">总结</a>
      <ol>
        <li data-type="chapter">
          <a href="app01.html">资源</a>
        </li>
        <li data-type="chapter">
          <a href="glossary01.html">术语表</a>
        </li>
        <li data-type="chapter">
          <a href="acknowledgments01.html">贡献者/致谢</a>
        </li>
      </ol>
    </li>
  </ol>
</nav>
